.header1{
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-top: 20px;
}
.paragraph{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #4842f5;
    font-size: 17px;
}
.image{
    padding-top: 15px;
}
.body{
  position: absolute;
  right: 100px;
}

.flex{
  display: flex;
  padding-top: 10px;
}
.lst1{
  font-weight: bold;
  font-style: italic;
}
.lst2{
  font-weight: bold;
  font-style: italic;
}
.one{
  font-weight: bold;
}
.two{
  font-weight: bold;
}
.menu{
  font-weight: bold;
  color: #7e42f5;
  font-size: 20px

}
.select{
  display: flex;
  justify-content: space-between;
}

.select1{
  padding-top: 20px;
}
.both{
  display: flex;
}
.sizes{
  padding-top: 20px;
  padding-left: 150px;
}
.toppins{
  padding-top: 50px;
}
.Extras{
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  text-decoration:underline;
}
.head{
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
  font-style: italic;
  text-decoration:underline;
}
.HEADER2{
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
  font-style: italic;
  text-decoration:underline;
}
.header3{
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  text-decoration:underline;
  padding-bottom: 20px;

}
.PIZZAMENU{
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
  font-style: italic;
  text-decoration:underline;
}
.details{
  padding-bottom: 50px;
  padding-top: 50px;
}
.submite{
  padding-top: 20px;
  padding-bottom:  20px;
  font-weight: bold;
  text-align: center;

}
.submit{
  padding-top: 20px;
  padding-bottom:  20px;
  font-weight: bold;
  text-align: center;
}
.delivery{
  font-weight: bold;
  font-size: 20px;
}
.cash{
  padding-bottom:  20px;
  font-weight: bold;
  color: blue;
}
.Total{
  padding-top: 20px;
  padding-bottom:  20px;
  font-weight: bold;

  font-size: 20px;
}
.CHECKOUT{
  padding-top: 20px;
  padding-bottom:  20px;
  font-weight: bold;
  text-align: center;
}
